<ul>
{% for component in include.components %}
  <h3 id="{{ component.github_name }}">{{ component.headline }}</h3>
  <ul>
    <li><strong>Name:</strong> {{ component.github_name }} {% if {{component.naming_note}} %}<span class='namingnote'>({{ component.naming_note }})</span> {% endif %}
    </li>

    <li><strong>Purpose:</strong> {{ component.purpose }}</li>

    <li><strong>GitHub repository:</strong> <a href="https://github.com/tidepool-org/{{ component.github_name }}">https://github.com/tidepool-org/{{ component.github_name }}</a></li>

    <li><strong>GitHub issues:</strong> <a href="https://github.com/tidepool-org/{{ component.github_name }}/issues">https://github.com/tidepool-org/{{ component.github_name }}/issues</a></li>

    {% if {{component.apiary_name}} %}
    <li><strong>API documentation</strong> <a href="http://docs.{{component.apiary_name}}.apiary.io/">http://docs.{{component.apiary_name}}.apiary.io/</a></li>
    {% endif %}

    {% if {{component.description}} %}
    <li><strong>Description:</strong> {{ component.description }}</li>
    {% endif %}
  </ul>
{% endfor %}
</ul>
