<h3><a name="{{ post.github_name }}"></a>{{ post.headline }}</h3>

<ul>
<li><em>Name:</em> {{ post.github_name }} {% if {{post.naming_note}} %}<span class='namingnote'>({{ post.naming_note }})</span> {% endif %}
</li>

<li><em>Purpose:</em> {{ post.purpose }}</li>

<li><em>GitHub repository:</em> <a href="https://github.com/tidepool-org/{{ post.github_name }}">https://github.com/tidepool-org/{{ post.github_name }}</a></li>

<li><em>GitHub issues:</em> <a href="https://github.com/tidepool-org/{{ post.github_name }}/issues">https://github.com/tidepool-org/{{ post.github_name }}/issues</a></li>

{% if {{post.apiary_name}} %}
<li><em>API documentation</em> <a href="http://docs.{{post.apiary_name}}.apiary.io/">http://docs.{{post.apiary_name}}.apiary.io/</a></li>

{% endif %}
<li><em>Description:</em> {{ post.content }}</li>
</ul>
