    {% for tag in site.tags %}
      {% capture currtag %}{{ tag | first }}{% endcapture %}
      {% if currtag != 'Deprecated' %}
        <h2>{{ tag | first }}</h2>
        <ul>
        {% for post in site.tags[currtag] reversed %}
          {% include {{post_formatter}} %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <h2>--Deprecated--</h2>
    <ul>
    {% for post in site.tags['Deprecated'] reversed %}
      {% include {{post_formatter}} %}
    {% endfor %}
    </ul>
