<!DOCTYPE html>
<html>
<!-- This html and css was ripped off / adapted from the Tidepool website at tidepool.org -->
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Tidepool Project </title>
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body class="page page-template-default">
 
<div id="wrapper" class="hfeed"><a id="top"></a>
    <header id="header">
        <div id="header-inner" class="clearfix global-width">
            <div id="branding">
                <h1 id="blog-title"><a href="http://tidepool.org/" title="Tidepool" rel="home">Tidepool</a></h1>        
            </div><!--  #branding -->
            <div id="access" class="clearfix">
            </div>
        </div><!-- #header-inner -->
    </header><!-- #header -->
                
      <div id="main" role="main">
        <div id="page-background-container"><img src="images/illustration_02.svg"></div>
        <div id="main-inner" class="clearfix global-width">
          <div id="container">
            <div id="content" class="clearfix">
              <div class="post page type-page hentry clearfix">
                <div class="entry-content">
  <div class="TOC">
    {% capture post_formatter %}title_only.html{% endcapture %}
    {% include tagposts.html %}
  </div>

<div class="full-width">
    {{ content }}

    {% capture post_formatter %}full_repo.html{% endcapture %}
    {% include tagposts.html %}
</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
</div> <!-- wrapper #hfeed -->
</body>
</html>